# Videomancer Core Rev A - Pin Mapping Constraints
# Copyright (C) 2025 LZX Industries LLC
# SPDX-License-Identifier: GPL-3.0-only

set_io SPI_SDO 67
set_io SPI_SDI 68
set_io SPI_SCK 70
set_io SPI_CS_N 71

set_io MCU_GPOUT_CLK 128
set_io VID_SYNC_OUT_N 143
set_io VID_SYNC_OUT_P 144

set_io HDMI_RX_CLK 94
set_io HDMI_RX_D[0] 73
set_io HDMI_RX_D[1] 74
set_io HDMI_RX_D[2] 75
set_io HDMI_RX_D[3] 76
set_io HDMI_RX_D[4] 78
set_io HDMI_RX_D[5] 79
set_io HDMI_RX_D[6] 80
set_io HDMI_RX_D[7] 81
set_io HDMI_RX_D[8] 82
set_io HDMI_RX_D[9] 83
set_io HDMI_RX_D[10] 84
set_io HDMI_RX_D[11] 85
set_io HDMI_RX_D[12] 87
set_io HDMI_RX_D[13] 88
set_io HDMI_RX_D[14] 90
set_io HDMI_RX_D[15] 91
set_io HDMI_RX_D[16] 95
set_io HDMI_RX_D[17] 96
set_io HDMI_RX_D[18] 97
set_io HDMI_RX_D[19] 98
set_io HDMI_RX_D[20] 104
set_io HDMI_RX_D[21] 105
set_io HDMI_RX_D[22] 106
set_io HDMI_RX_D[23] 107
set_io HDMI_RX_HSYNC 99
set_io HDMI_RX_VSYNC 101
set_io HDMI_RX_DE 102

set_io VID_ENC_CLK 62
set_io VID_ENC_D[0] 49
set_io VID_ENC_D[1] 52
set_io VID_ENC_D[2] 37
set_io VID_ENC_D[3] 38
set_io VID_ENC_D[4] 39
set_io VID_ENC_D[5] 41
set_io VID_ENC_D[6] 42
set_io VID_ENC_D[7] 43
set_io VID_ENC_D[8] 44
set_io VID_ENC_D[9] 45
set_io VID_ENC_D[10] 47
set_io VID_ENC_D[11] 48
set_io VID_ENC_D[12] 55
set_io VID_ENC_D[13] 56
set_io VID_ENC_D[14] 60
set_io VID_ENC_D[15] 61
set_io VID_ENC_HSYNC 63
set_io VID_ENC_VSYNC 64

set_io HDMI_TX_CLK 16
set_io HDMI_TX_D[0] 3
set_io HDMI_TX_D[1] 4
set_io HDMI_TX_D[2] 7
set_io HDMI_TX_D[3] 8
set_io HDMI_TX_D[4] 9
set_io HDMI_TX_D[5] 10
set_io HDMI_TX_D[6] 11
set_io HDMI_TX_D[7] 12
set_io HDMI_TX_D[8] 15
set_io HDMI_TX_D[9] 17
set_io HDMI_TX_D[10] 18
set_io HDMI_TX_D[11] 19
set_io HDMI_TX_D[12] 20
set_io HDMI_TX_D[13] 21
set_io HDMI_TX_D[14] 22
set_io HDMI_TX_D[15] 23
set_io HDMI_TX_D[16] 24
set_io HDMI_TX_D[17] 25
set_io HDMI_TX_D[18] 26
set_io HDMI_TX_D[19] 28
set_io HDMI_TX_D[20] 29
set_io HDMI_TX_D[21] 31
set_io HDMI_TX_D[22] 32
set_io HDMI_TX_D[23] 33
set_io HDMI_TX_HSYNC 2
set_io HDMI_TX_VSYNC 1

set_io VID_DEC_CLK 129
set_io VID_DEC_D[0] 110
set_io VID_DEC_D[1] 112
set_io VID_DEC_D[2] 113
set_io VID_DEC_D[3] 114
set_io VID_DEC_D[4] 115
set_io VID_DEC_D[5] 116
set_io VID_DEC_D[6] 117
set_io VID_DEC_D[7] 118
set_io VID_DEC_D[8] 119
set_io VID_DEC_D[9] 120
set_io VID_DEC_D[10] 121
set_io VID_DEC_D[11] 122
set_io VID_DEC_D[12] 124
set_io VID_DEC_D[13] 125
set_io VID_DEC_D[14] 130
set_io VID_DEC_D[15] 134
set_io VID_DEC_D[16] 135
set_io VID_DEC_D[17] 136
set_io VID_DEC_D[18] 137
set_io VID_DEC_D[19] 138
set_io VID_DEC_HSYNC 139
set_io VID_DEC_VSYNC 141
set_io VID_DEC_FIELD_DE 142
set_io VID_DEC_HSYNC_IN 93
set_io VID_DEC_VSYNC_IN 34

